@model MVC.Models.AppUser
@{
    ViewBag.Title = "Wall";
}

<h2>Wall</h2>


<p>@Model.Email</p>
<p>@Model.UserName</p>
<p>@Model.Id</p>

@using (Html.BeginForm("Click", "Account", FormMethod.Post))
{
    <button type="submit" value="SignOut">Выйти</button>
}