@model MVC.Models.AppUser
@{
    ViewBag.Title = "Settings";
}

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<center>
    <div class="btn-group">
        <ul style="margin-top:5%" class=" nav nav-pills">
            <li>
                    @using (Ajax.BeginForm("ChangeUserPartial", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                        <input type="submit" value="Settings " class="btn">
                    }
            </li>
            <li>
                @using (Ajax.BeginForm("BlackListPartial", new AjaxOptions { UpdateTargetId = "results" }))
            {
                    <input type="submit" value="Black List" class="btn">
                }
            </li>
            <li>
                @using (Ajax.BeginForm("AvatarPartial", new AjaxOptions { UpdateTargetId = "results" }))
            {
                    <input type="submit" value="Avatar" class="btn">
                }
            </li>
        </ul>
    </div>

    <div id="results" style="margin-top:2%">
        @Html.Partial("ChangeUserPartial")
    </div>
</center>