@model MVC.Models.AppUser
@using MVC.Models
@{
    ViewBag.Title = "Settings";
}
<center>
    <div class="btn-group">
        <ul style="margin-top:5%" class=" nav nav-pills">
            <li>
                @using (Ajax.BeginForm("ChangePassPartial", new AjaxOptions { UpdateTargetId = "results" }))
                {
                    <input type="submit" value="Change Pass " class="btn">
                }
            </li>
            <li>
                @using (Ajax.BeginForm("ChangeUserPartial", new AjaxOptions { UpdateTargetId = "results" }))
                {
                    <input type="submit" value="Change Name " class="btn">
                }
            </li>
            <li>
                @using (Ajax.BeginForm("BlackListPartial", new AjaxOptions { UpdateTargetId = "results" }))
            {
                    <input type="submit" value="Black List" class="btn">
                }
            </li>
            <li>
                @using (Ajax.BeginForm("AvatarPartial", new AjaxOptions { UpdateTargetId = "results" }))
            {
                    <input type="submit" value="Avatar" class="btn">
                }
            </li>
        </ul>
    </div>

    <div id="results" style="margin-top:2%">
       @{ViewBag.ID = Model.Id;}
        @Html.Partial("ChangePassPartial", new PasswordChangeModel())
    </div>
</center>