@model MVC.Models.AppUser
@{
    ViewBag.Title = "Wall";
}


<div style="margin-top:10%">
    <a href="@Url.Action("Random", "Wall")">
        Random
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
</div>