@model MVC.Models.AppUser
@using MVC.Models
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>
<table>
    <tr>
        <td>
            <div class="btn-group-vertical">
                    @foreach (AppUser user in ViewBag.Users)
                    {
                        using (Ajax.BeginForm("MessagePartial", new { recieverId = user.Id }, 
                            new AjaxOptions { UpdateTargetId = "results" }))
                        {
                            <input type="submit" id="but" value="@user.UserName" class="btn"/>
                        }
                    }
            </div>
        </td>
        <td>
            <center>Sender:<input type="text" id="name" /></center>
            <div id="results" style="margin-left:13%">
                @Html.Partial("MessagePartial")
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <center>
                <div class="container">
                    <textarea id="message" rows="5" cols="50" name="text"></textarea>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <center> <input type="button" id="sendmessage" value="Send message" /></center>
        </td>
    </tr>
</table>
@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
         $(function () {
             var chat = $.connection.chatHub;
             chat.client.addMessage = function ( sender, reciever,message) {
                 $('#discussion').append('<li>' + '@DateTime.Now' + '<p>'+ '<strong>' +sender+':  </strong>' + message +'</p>' + '</li>');
             };

             $.connection.hub.start().done(function () {
                 $('#sendmessage').click(function () {
                     if ($('#name').val() != "" && $('#message').val())
                     {
                         chat.server.send("@Model.Id", $('#name').val(), $('#message').val());
                         $('#message').val('').focus();
                         var wtf = $('#scrolling');
                         var height = wtf[0].scrollHeight;
                         wtf.scrollTop(height);
                     }
                 });

                 $("#but").click(function () {
                     $('#name').val() = $('#but').val();
                 });
             });

    });
    </script>
}
