@model MVC.Models.AppUser
 @using MVC.Models
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>
<table>
    <tr>
        <td>
            <div class="btn-group">
                <ul style="margin-top:5%" class=" nav nav-pills">
                    @foreach (AppUser user in ViewBag.Users)
            {
                        <li>
                            @using (Ajax.BeginForm("MessagePartial", new { recieverId = user.Id }, new AjaxOptions { UpdateTargetId = "results" }))
                            {
                                <input type="submit" value="@user.UserName" class="btn">
                            }
                        </li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <div id="results" style="margin-top:2%">
                @Html.Partial("MessagePartial")
            </div>
        </td>
        <td>
            <center>
                <div class="container">
                    <input type="text" id="name" />
                    <input type="text" id="message" />
                    <input type="button" id="sendmessage" value="Send" />
                    <ul id="discussion"></ul>
                </div>
            </center>
        </td>
    </tr>
</table>
    @section scripts
{
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
         $(function () {
             var chat = $.connection.chatHub;
             chat.client.addMessage = function ( sender, reciever,message) {
                 $('#discussion').append('<li>' + sender +'<p>'+ message +'</p>' + '</li>');
             };

             $.connection.hub.start().done(function () {
                 $('#sendmessage').click(function () {
                     chat.server.send("@Model.Id", $('#name').val(), $('#message').val());
                     $('#message').val('').focus();
                 });
             });
    });

        </script>
    }
